* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 130px;
}
.main-text {
    font-size: 40px;
    margin-bottom: 10px;
}
.add-button-task {
    text-align: center;
    background-color: rgba(27, 27, 27, 0.7);
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    
}
.input-text-task {
    border: 1px solid black;
    border-radius: 5px;
    font-size: 15px;
    padding-left: 10px;
    outline: None;
    box-shadow: 1px 1px 1px black;

}

.div-add-task {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.div-for-tasks {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: flex-start;
    transform: translateX(-20px)
}

span {
    font-size: 20px;
    padding-left: 5px;
}
.btn-delete {
    margin-left: 50px;
    font-size: 15px;
    background-color: rgb(255, 0, 0);
    border: 1px solid black;
    border-radius: 15px;
    padding: 5px 15px;
    color: white;
}